* {
    font-family: 'Times New Roman', Times, sans-serif;
}

img {
    height:auto;
    width:auto;
    margin: auto;
    display: block;
    background-color:transparent;
}

.logo{
    width: 250px;
}

.header {
    background-color: #00bdf2;
}

h1 {
    color:#00bdf2;
    background-color: transparent;
}